# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE Files
# =========================
.vscode/
.idea/

# =========================
# Node.js (future-proof)
# =========================
node_modules/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Temporary files
# =========================
*.tmp
*.swp
.aws-sam/
