<header>
    <div class="foundation-top-center">
        <h1 class="foundation-title">Foundation of Mastering Automation</h1>
    </div>

    <div class="logo">
        <img src="images/logo.png" alt="FOMA Logo" class="logo-img">
    </div>

    <nav>
        <ul>
            <li class="back-home-li"><a href="index.html" class="home-btn" data-lang="back_home">Back to Home</a></li>
            <li class="home-li"><a href="index.html" data-lang="home">Home</a></li>
            <li><a href="index.html#program" data-lang="program_nav">Program</a></li>
            <li><a href="index.html#projects" data-lang="projects_nav">Projects</a></li>
            <li><a href="index.html#register" data-lang="register_nav">Register</a></li>
            <li><a href="blog.html" data-lang="blog">Blog</a></li>
            <li><a href="about.html" data-lang="about">About</a></li>
            <li><a href="contact.html" data-lang="contact">Contact</a></li>
        </ul>
    </nav>

    <div class="language-switch">
        <button onclick="setLanguage('en')">EN</button>
        <button onclick="setLanguage('fr')">FR</button>
    </div>
</header>